body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #61D095;
  padding: 2vw;
  
  a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 1vw;
  }
}
